#item_list { margin:0 auto; padding:10px; width:75%; }

.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }

.sortable li { margin: 0 5px 5px 5px; padding:5px; font-size: 1.2em; height: 1.5em; }

html>body .sortable li { height: 10em; line-height: 1.2em; }

.ui-state-highlight { height: auto; line-height: 1.2em; background-color:#FF8C00; }

#desc_text-error{ display: block; }

.list_buttons{ font-size: 0.75em;float:right; margin-right: 7px;cursor: pointer; }

.edit_item{ color:#8FBC8F; }

.delete_item{ color:#8B0000; }

.item_id{ color:#778899;float:left;display: none;visibility: hidden; }

.itemli{ display:block; height: auto !important; }

.itemdiv{ width: 100%; }

.item_image{ float:left; }

.error{ color:#FF4500; }

.itemname{ padding: 10px;float: left; width: 75%; }