* { font-family: 'Calibri'; }

body { background: #e2e2e2; }

h1 { font-family: 'Acme', sans-serif; }

.container { width: 675px; }

form.form-horizontal { margin-top: 30px; }

em.message { margin-top: 10px; }

form.form-horizontal div.form-group textarea { resize: none; }